
#horizontal .contents{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    flex-shrink: 0;
}

#horizontal {
    display: flex;
    overflow-x: hidden;
}

.casestudy-lrg {
    width: 80%;
    max-height: 1080px;
    /* height: 1100px; */
    aspect-ratio: 16/9;
    background-color: lawngreen;
    margin-top: 10px;
}


.casestudy-lrg img{
    width: 100%;
    max-height: 1100px;
    object-fit: cover;
}


.case-study-start { 
    width: 60vw !important; 
}

.hold {
    background-image: url("/Images/Spray2.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}



/* For Mobile ____________________________________________________________________*/
@media screen and (max-width: 540px) {

.case-study-start {
    width: 100vw !important; 
}

#horizontal .hold .row{
padding: 0px;
}

.casestudy-lrg {
    width: 100%;
    max-height: 1080px;
    /* height: 1100px; */
    aspect-ratio: 16/9;
    background-color: lawngreen;
}

.casestudy-lrg img{
    width: 100%;
    max-height: 1100px;
    object-fit: cover;
}

}